{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-img" src="{% static 'img/logo.svg' %}" alt ="Logo">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="{%url 'home'%}">Home</a>
            <a class="cabecalho-menu-item" href="{% url 'listas.index' %}">Listas</a>
        </nav>
    </header>
    <main class="conteudo">
        <section class="conteudo-principal">
            <h1 class="conteudo-principal-escrito-titulo">To Do List's Criadas</h1>
            <button class="nova-lista-botao">
                <a href="{%url 'listas.novo' %}">Criar nova lista</a>
            </button>
        </section>
        <section class="conteudo-tabela">
            <table class="tabela">
                <thead>
                    <tr>
                        <th>Nome da lista</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for listas in object_list %}
                        <tr>
                            <td>{{ listas.nome }}</td>
                            <td>
                                <button class="acoes-botao">
                                    <a href={% url 'listas.tarefas' listas.pk %}>Acessar</a>
                                </button>
                                <button class="acoes-botao">
                                    <a href={% url 'listas.editar' listas.pk %}>Editar</a>
                                </button>
                                <button class="acoes-botao">
                                    <a href={% url 'listas.remover' listas.pk %}>Remover</a>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody> 
            </table>
        </section>
    </main>
</body>
</html>