{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <main class="conteudo">
        <section class="forms-listas">
            <form method="post">
                {% csrf_token %}
                <h1 class="frase-deletar">Tem certeza que quer deletar "{{ object }}"?</h1>
                <input class="botao-enviar" type="submit" value="Confirmar">
            </form>
        </section>
    </main>
</body>
</html>
